/* 
    Author: MLC Bloeiman <@strawmelonjuice, mar@strawmelonjuice.com> 
    Date: <date>
    
    Stylesheet voor  over mij pagina

*/

/* About me-TLDR blokje */
/* #@css:sel02 */
p.tldr
{
  padding: 15px;
  --tldr-height: 16px;
  font-size: 95%;
  background-color: var(--color-slot-15);
  border: 2px dotted;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-color: var(--color-slot-12);
  color: var(--color-slot-16);
  font-family: "Ubuntu Mono", monospace;
  width: fit-content;
  /* #@css:cal10-1 Tekst wordt hier cursief/schuin gedrukt */
  font-style: italic;
  min-width: 30%;
  height: fit-content;
  /* height: var(--tldr-height); */
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--tldr-height);
}

/*
p.tldr::before {
  content: "Kort samengevat: ⬇️";
  position: absolute;
  width: fit-content;
  max-width: 30%;
  top: var(--tldr-height);
  margin-top: -5px;
  border-width: 5px;
  font-size: 0.6rem;
}

*/

/* Ik zet hier ook de afbeelding van die pagina in */
/* Mobile-firsting: */
#strmlnjcelogo > img
{
  max-width: 100%;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

/* en zo ook voor andere schermen */
@media screen and (orientation: landscape) and (min-width: 1000px)
{
  #strmlnjcelogo > img
  {
    /* #@css:im03 */
    width: 100%;
  }

  #strmlnjcelogo
  {
    margin-top: 1rem;
    max-width: min-content;
    width: 25vw;
    /* #@css:im04 */
    float: right;
  }
}

#mapcontainer
{
  margin: 0 auto;
  width: 100%;
  /* #@css:if02 */
  align-items: center;
}

#mapcontainer > iframe
{
  max-width: 40%;
  border-radius: 15px;
  margin: 0 auto;
  display: block;
}