/* 
    Author: MLC Bloeiman <@strawmelonjuice, mar@strawmelonjuice.com> 
    Date: <date>
    
    <Subject>

*/

/** Color palette */
:root
{
    /* Dark-mode first design principle, even though my light mode is pretty great! */
    --page-background-color: #231820;
    --page-title-background-color: #800046;
    --page-title-text-color: #E0E1EC;
    --main-background-color: #4e4d4d;
    --main-text-color: #FCCBCB;
    --main-section-background-color: var(--main-text-color);
    --main-section-text-color: black;
    --bottom-menubar-background-color: #B38888;

    @media (prefers-color-scheme: light)
    {
        --page-background-color: #b88f9d;
        --page-title-background-color: #7C5E64;
        --main-background-color: #e0e1ec;
        --main-text-color: #7C5E64;
        --main-section-background-color: var(--bottom-menubar-background-color);
        --main-section-text-color: black;
        --bottom-menubar-background-color: #DAB2BB;
    }

}

@font-face
{
    font-family: "Josefin Sans";
    src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

@font-face
{
    font-family: "Fira Sans";
    src: url(../fonts/Fira_Sans/FiraSans-Regular.ttf);
}

@font-face
{
    font-family: "Gantari";
    src: url(../fonts/Gantari/Gantari-VariableFont_wght.ttf);
}

@font-face
{
    font-family: "Syne";
    src: url(../fonts/Syne/Syne-VariableFont_wght.ttf);
}

body
{
    font-family: "Josefin Sans", "Fira Sans";
}

h1,
h2,
h3,
h4,
h5,
h6,
.speciaal
{
    font-family: "Gantari", "Syne";
}

footer
{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 80VW;
    background-color: var(--bottom-menubar-background-color);
    color: var(--bottom-menubar-text-color);
    text-align: center;

}

#menu
{
    height: 100%;
    width: 100%;

    #closemenu
    {
        visibility: hidden;
    }

    nav
    {
        height: 100%;
        width: 100%;
        position: relative;
        top: 10%;
        right: 0;
    }

    nav ul
    {
        padding: 0;
        height: 100%;
        width: 100%;
    }

    nav ul li
    {
        list-style-type: none;
        float: right;
        height: 90%;
        width: 20%;
        text-align: center;
    }
}
